body {
    background-color: white;
    font-size: 25px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container > header {
    padding: 20px;
    font-family: "Calabri", Arial, sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

nav a {
    margin-left: 20px;
    font-size: 20px;
    font-family: "Calibri", Arial, sans-serif;
    color: white;
    text-decoration: none;
    line-height: 150%;
}

section {
    padding: 20px;
    line-height: 30px;
    font-size: 30px;
}

.about {
    display: flex;
    align-items: flex-start;
}

.about img {
   margin-right: 15px;
   margin-bottom: 15px;
   width: 200px;
}

#work {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 50%;
    padding: 15px;
}

article img {
    width: 100%;
    margin-top: 5px;
}

.focus {
    width: 100%;
}

footer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    font-family: "Calibri", Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

footer a {
    font-size: 24px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    
    body,p {
        font-size: 15px;
        line-height: 150%;
    }
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 15px;
    }
    
    nav a:first-of-type{
        margin-left: 0;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    #work {
        flex-direction: column;
    }

    #work article {
        width: 100%;
    }
}